body {
    color: #251605;
    background-color: #251605;
    background-image: linear-gradient(to right, #251605, #CCA43B, #0CF574, #CCA43B, #0CF574, #251605);
    font-size: 30px;
    overflow: hidden;
}
header {
    display: inline-flex;
}
input {
    height: 20px;
    width: 80px;
    background: none;
    margin: 20px;
    border: none;
    font-size: 30px;
}
header img {
    width: 50px;
    height: 50px;
}
.hole:hover {
    cursor: pointer !important;
    color:  white;
}
main {
    width: 900px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}
.hole, .hole2{
    width: 200px;
    height: 200px;
    border: none;
    z-index: 3;
}
.hole2 {
    position: relative;
    left: 5px;
    top: -200px;
    z-index: 1;
}
.visibleMole {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 3;
    position: relative;
    background: none;
    border: none;
    animation: 2s anim infinite linear;
}
.visibleMole:hover, #hiddenMole:hover, .hidden:hover {
    cursor: pointer;
}

#hiddenMole {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 45px;
    background: none;
    border: none;
    z-index: 1;
    position: relative;
}
#hiddenMole:hover {
    cursor: pointer;
}

@keyframes anim {
    0% {top: 150px;}
    50% {top: 80px;}
    100% {top: 150px;}
}



