body {
    color: #251605;
    background-image: linear-gradient(to right, #0CF574, #CCA43B);
    font-size: 30px;
}
header {
    display: inline-flex;
}
input {
    height: 20px;
    width: 80px;
    background: none;
    color: whitesmoke;
    margin: 20px;
    border: none;
    font-size: 30px;
}
header img {
    width: 50px;
    height: 50px;
}
main {
    width: 900px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}
button:hover {
   cursor: pointer;
}
section {
    margin: 50px;
    background-color: pink;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
}
.hiddenMole {
    width: 200px;
    height: 200px;
    background-color: #251605;
    border-radius: 50%;
    border: none;
    z-index: 2;
}
.visibleMole {
    background-image: url(mole.png);
    background-size: cover;
    background-color: black;
    width: 250px;
    height: 250px;
    z-index: 2;
}
