main{
    display: grid;
    grid-template-columns: auto auto auto;
}
.hole {
    background-color: pink;
    width:150px;
    height:150px;
    border-radius: 50%;
    z-index: -1;
}
.taupe_cachée{
    display:none;
}
.taupe_visible{
    background-color: black;
    width: 100px;
    height: 100px;
    z-index:1;
}
.taupe_visible:hover{
    background-color: blanchedalmond;
}